.ui.big.fluid.rounded.image {
  height: 20em;
}


.ui.green.inverted.segment {
  padding: 0px;
  margin-bottom: 30px;
}

.ui.div.a.item {
  padding: 0px;
}

#dog {
  height: 65px;
}

#greenBicycle {
  height: 62px;
  width: 90px;
}

#postCodeContainer {
  margin-top: 10px;
}

#parkHeader {
  font-size: 55px;
}

#parkImg {
  height: 400px;
  width: 400px;
}

.ui.image {
  height: 20em;
}

.ui.vertical.left.aligned.segment {
  padding-left: 10px;}
  
#homeHeader {
  font-size: 55px;
}

#planner-input[placeholder] {
  color: grey;
  font-size: 0.8em;
  opacity: 0.8;
}