@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');


.ui.big.fluid.rounded.image {
  height: 20em;
}


.ui.green.inverted.segment {
  padding: 0px;
  margin-bottom: 30px;
}

.ui.div.a.item {
  padding: 0px;
}

#dog {
  height: 65px;
}

#greenBicycle {
  height: 62px;
  width: 90px;
}

#postCodeContainer {
  margin-top: 10px;
}

#parkHeader {
  font-size: 55px;
}

#parkImg {
  height: 400px;
  width: 400px;
}

.ui.image {
  height: 20em;
}

.ui.vertical.left.aligned.segment {
  padding-left: 10px;}
  
#homeHeader {
  font-size: 55px;
}

/* .rec.rec-swipable{
  height:40em;
} */

.carousel.carousel-slider {
  height: 50em;
}

img{
  height: 50em;
  position: center;
}

#weather-main {
  background-color: #b5cc18;
}

#header-main {
  color:blue;
  padding: 0 15px;
  font-size: 18px;
  font-family: 'Recursive', sans-serif;
  margin-bottom: 0;
}
#blue-segment {
  background-color:#80c1ff;
}
#day {
  padding: 0 15px;
  margin:0;
  color:white;
  font-family: 'Recursive', sans-serif;
  font-size: 15px;
  font-weight: 600;
}
#description {
  padding: 0 15px;
  margin: 5px 0 0 0;
  color:blue;
  font-family: 'Recursive', sans-serif;
  font-size: 15px;
  font-weight: 600;
}

  #weather-column {
  padding: 5px 0 0 0;
  }
#planner-input[placeholder] {
  color: grey;
  font-size: 0.8em;
  opacity: 0.8;
}
