.ui.big.fluid.rounded.image {
  height: 20em;
}


.ui.green.inverted.segment {
  padding: 0px;
  margin-bottom: 30px;
}

.ui.div.a.item {
  padding: 0px;
}

#dog {
  height: 65px;
}

#greenBicycle {
  height: 78px;
  width: 100px;
}

#postCode {
  height: 30px;
  width: 27px;
}
#homeImg {
  height:200px;
}

.ui.image {
  height: 20em;
}

.ui.vertical.left.aligned.segment {
  padding-left: 10px;
}